import(deSolve, ade4, ape)
importFrom("phytools","paintSubTree","plotSimmap")
importFrom("subplex","subplex")
importFrom("grDevices", "dev.off", "pdf")
importFrom("graphics", "arrows", "box", "hist", "lines", "par", "plot")
importFrom("stats", "integrate", "predict", "quantile", "reorder", "rexp", "runif", "smooth.spline")
importFrom("utils", "flush.console")
importFrom("Matrix","sparseMatrix","Diagonal")
importFrom("SparseM","solve")
#importFrom("expoRkit","expv")
importFrom("expm","expAtv")
importFrom("pracma","sortrows")
importFrom("testthat","expect_equal")
exportPattern("^[[:alpha:]]+")
useDynLib("DDD",.registration = TRUE)
